<div class="row">
	<% @products.each do |product| %>
	<div class="center card big-padding col-md-5 margin">
		<h1> <%= link_to truncate(product.nombre, length: 15), product, method: :get %></h1>
		<!-- imagen-->
		<p>
			<%= image_tag product.image.url(:mobile) %>
		</p>
	</div>
	<% end %>
</div>
<div class="top-space center">
	<%= will_paginate @products, :previous_label => "&laquo;Anterior", :next_label => "Siguiente&raquo;" %>
</div>