<h1 class="center bottom-space">Bienvenido al sistema de registro de alimentos envasados</h1>

<%= image_tag "https://s3-us-west-1.amazonaws.com/foodapiapp/imag.jpg", class: "index-image", tittle: "index-image" %>
