html,
body {
	margin:0;
	padding:0;
	height:100%;
	font-family: 'Roboto', sans-serif;
}

.container {
	min-height:100%;
	position:relative;
	max-width: 100%;
	min-width: 100%;
}

.body {
	padding:10px;
	padding-bottom:100px;   /* Height of the footer */
}
.footer {
	position: fixed;
	bottom:0;
	width:100%;
	height:60px;   /* Height of the footer */
	
	background: #343436;
}

.footer-container{
	color: #d0d5e1;
	text-align: center;
}

.notice,
.alert {
margin: 10px 0px;
padding:12px;
}

.notice i, 
.alert i{
    margin:10px 22px;
    font-size:1em;
    vertical-align:middle;
}

.notice {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.alert,
#error_explanation {
    color: #D8000C;
    background-color: #FFBABA;
}

#error_explanation {
	padding-left: 1em;
}

#error_explanation h2{
	font-size: 2em;
	font-style: bold;
}

nav{
	background-color: #ef6c00;
}

.form{
	width:80%;
	margin:0 auto;
}

.hidden{
	display: none;
}

.side-nav li{
	line-height: 5;
}

label{
	font-size: 1.2em;
}

.big-padding{
	padding: 20px
}

.margin{
	margin-left: 6em;
}

.be-blue{
	background-color: #0099ff;
}

.be-red{
	background-color: #E74C3C;
}

.be-icon-red{
	color: #FF5252;
}

.be-icon-green{
	color: #4CAF50;
}

.be-green{
	background-color: #43a047;
}

.white{
	color: #ECF0F1;
}

.field, .top-space, .actions{
	margin-top: 1em;
}

.top-space{
	margin-top: 2em;
}

.bottom-space{
	margin-bottom: 2em;
}

.on_hold {
	color: #E74C3C;
}

.published {
	color: #0099ff;
}

.index-image{
	border-radius: 8px;
	border: 1px solid #ddd;
	padding: 5px;
	display: block;
	margin: auto;
	width: 50%;
	height: auto;
}

.previous_page,
.pagination a,
.next_page{
	padding: 10px 15px;
    background: #f57c00;
    color: #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.pagination a:hover, .pagination a:focus{
	background: #ef6c00;
	border: solid 1px #2A4E77;
    text-decoration: none;
    color: #FFF;
}

.current{
	padding: 10px 15px;
    background: #ffa726;
    color: #000;
    font-style: normal;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.disabled{
	background: #ffcc80 ;
	color: #000;
}


/*
header nav ul li{
	list-style:none;
}

a,a:visited{
	color: inherit;
	text-decoration: none;
}

.large-padding{
	padding: 8px 5px;
}

#logo{
	font-size: 1.2em;
}

.no-margin{
	margin: 0px;
}

.margin-article{
	margin: 20px;
}

.form-control{
	border: none;
	border-bottom: 1px solid;
	outline: none;
	width: 100%;
	height: auto;
	display: block;
	padding: 10px 0px;
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
}



/*.btn{
	background-color: inherit;
	border: none;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 5px;
	font-size: 1.2em;
	padding: 10px 12px;
}



textarea.form-control{
	height: 250px;
}

a.update, a.update:visited{
	color: blue;
}

a.delete, a.delete:visited{
	color: red;
}

.text-left{
	text-align: left;
}

.nav li a:hover, .nav li a:focus, .nav .open a:hover, .nav .open a:focus, .nav .open .dropdown-toggle{
	background-color: #1565c0;
	color: #ECF0F1;
}
*/

